<p>advices works!</p>

<section class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="1">Artykuł 1</a></li>
            <li class="list-group-item"><a routerLink="2">Artykuł 2</a></li>
            <li class="list-group-item"><a routerLink="3">Artykuł 3</a></li>
            <li class="list-group-item"><a routerLink="4">Artykuł 4</a></li>
            <li class="list-group-item">
                <button class="btn btn-link" (click)="goToRoute(5)">Artykuł 5</button>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</section>