<h2>Lista naszych aukcji</h2>
<section class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">Tytuł</div>
            <img class="card-img" src="https://picsum.photos/id/236/200/200">
            <div class="card-body">
                <p class="card-text">
                    Opis aukcji
                </p>
                <button class="btn btn-primary">
                    <i class="fa fa-cart-plus"></i>
                </button>
            </div>
        </div>
    </div>
</section>